:root {
  --bordeaux: #8D191D;
  --golden: #837626;
  --purple: #541B4A;
  --salmon: #A54B35;
  --branco: #FFFFFF;
  --preto: #000000;
  --fundo: #f8f8f8;
}

body {
margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

/* estilos para o header */
header {
background-color: #F8F8F8;  
border-bottom: 2px solid #ccc;
}

/* estilos para o container da logo e do nome da empresa */
header .cabecalho {
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 50px;
margin-left: 20px;
}

/* estilos para a logomarca */
header .logo img {
width: 350px;
height: auto;
margin-right: 30px;
margin-top: 20px;  
justify-content: flex-start;
}
/* estilos para o nome da empresa */
header .empresa h1 {
font-size: 24px;
color:#8D191D;
margin: 20px 5px 5px 5px;
justify-content: flex-end;
}
/* estilos para a navegação */
header .navegacao {
background-color:#8D191D;
padding: 10px 0;
margin-top: 20px;
margin: 20 0;
}

nav ul{
display: flex;
justify-content: center;
list-style: none;
padding: 0;
margin: 10px;
text-transform: uppercase;
}

nav ul li {
margin-right: 50px;
}

nav ul li:last-child {
margin-right: 0;
}

nav ul li a {
text-decoration: none;
color: #F8F8F8;
font-size: 16px;
}

.menuicon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

nav ul li a:hover {
color: #f7baaa;
}

main {
margin: 10px;
padding: 20px;
text-align: center;
justify-content: center;
}

/* Estilo do rodapé */
footer {
  background-color: #8D191D;
  color: #F8F8F8;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .left,
footer .right {
  width: 46%;
}

footer .left{
  margin-left: 50px;
  border-right: 0.5px solid #A54B35;
}

footer .titlefooter {
  font-size: 24px;
  font-weight: bold;
}

footer .contatos {
  display: block;
  line-height: 10px;
  text-decoration: none;
  transition: 0.3s;
}

footer .copyright {
  font-size: 12px;  
  align-items: end;  
}

footer .footericons {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;  
}

footer .footericons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #F8F8F8;
  color: #8D191D;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;  
  line-height: 35px;  
  margin-top: 20px;
  margin-bottom: 10px;  
  transition: 0.3s;
}

footer .footericons a:hover {
  background-color: #A54B35;
}

footer form {
  width: 100%;
  display: block;
}

footer form input,
footer form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  box-shadow: 0 1px 0 0 #8D191D;
  border: none;
  resize: none;
  outline: none;
  font: inherit;
  font-size: 14px;
  color: #000;
  width: 96%;  
  padding: 18px;
}

footer ::-webkit-input-placeholder {
  color: #5c666b;
}

footer ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

footer :-ms-input-placeholder {
  color: #5c666b;
}

footer form input {
  height: 55px;
  margin-bottom: 15px;
}

footer form textarea {
  height: 100px;
  margin-bottom: 20px;
}

footer form .btn {
  border-radius: 3px;
  border: 0;
  color: #8D191D;
  padding: 15px 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

footer form .btn:hover {
  background-color: #A54B35;
  color: #F8F8F8;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    display: block;
    padding: 0;
  }

  nav ul li {
    text-align: left;
    position: relative;
  }

  nav ul li a {
    font-size: 14px;
    color: #F8F8F8;
    padding: 10px 10px;
    text-align: left;
    display: block;
    margin-left: 50px;
    width: calc(100%-50px);
    box-sizing: border-box;
  }

  nav ul li:not(:last-child)::after{
    content: '';
    position:absolute;    
    left: 60px;
    bottom:0;
    height: 0.5px;
    background-color: #F8F8F8;
    width: 30%;    
    margin-bottom: 5px;
  }

  nav ul li a:hover {
    color: #f7baaa;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }

  footer {
    flex-direction: column; /* Em telas menores, as divs se empilham uma em cima da outra */
    align-items: center; /* Alinha as divs no centro */
    padding: 30px 10px; /* Ajuste no padding */
  }

  footer .left,
  footer .right {
    width: 100%; /* As divs ocupam toda a largura em telas pequenas */
    margin-bottom: 20px;
  }

  footer .right {
    border-left: none; /* Remove borda à esquerda na versão mobile */
  }
}